 h1 {
     color:blue
 }

 /**{
     border:solid
 } */
 .header{
     background-color: #ffa500;
display : flex;
justify-content : space-between;

 }

 .grid{
     display : flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }

 .footer{
     display:flex;
 }

 p, h2{
     text-align :justify;
 }

 body {
     background-color :#808080;
 }
 